.container {
    width: 30%;
    height: 80%;
    position: fixed;
}

.flexdiv {
    height: 100%;
}

.sociallink,
.sociallink:visited {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.sociallink:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
}

.title {
    font-size: 3rem;
    line-height: 0;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 0;
    opacity: 0.8;
}

.tagline {
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 100%;
        height: auto;
        position: relative;
    }

    .title {
        font-size: 2.5rem;
        /* Slightly bigger */
        padding: 10px;
        /* Add padding */
        text-align: center;
        /* Center align */
    }

    .subtitle {
        font-size: 1.5rem;
        /* Slightly bigger */
        padding: 5px;
        /* Add padding */
        text-align: center;
        /* Center align */
    }

    .sociallink,
    .sociallink:visited {
        margin: 0 auto;
        /* Center the social icons */
    }

    .tagline {
        padding-left: 10px;
    }
}