.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--mantine-color-primary-6);
    color: var(--mantine-color-primary-0);
    overflow-y: visible;
    display: flex;
    flex-direction: column;
}

.content {
    background: url('https://i.ibb.co/k2hS6KP/box-bg.png');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    z-index: 2;
}

.left {
    width: 20%;
    height: 100%;
    margin-top: 5rem;
}

.right {
    width: 40rem;
    margin-left: 10rem;
    overflow-y: visible;
}

.mantine {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    z-index: 3;
}

.mouse {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    z-index: 1;
    width: 250px;
    height: 250px;
    background: var(--mantine-color-blue-9);
    border-radius: 300px;
    filter: blur(100px);
}

@media only screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .content {
    flex-direction: column;
    padding: 10px;
  }

  .left {
    width: 100%;
    margin-top: 2rem;
  }

  .right {
    width: 100%;
    margin-left: 0;
  }

  .legend {
    display: none; /* Hide the legend component */
  }
}