.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--mantine-color-primary-6);
    color: var(--mantine-color-primary-0);
    position: absolute;
}

.content {
    display: flex;
    width: 100%;
}

.left {
    position: fixed;
    width: 40%;
    margin-left: 20%;
    top: 10%;
}

.right {
    position: relative;
    width: 30%;
    top: 6rem;
    left: 65%;
    transform: translateX(-50%);
}

.mantine {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}