.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--mantine-color-primary-6);
    color: var(--mantine-color-primary-0);
    overflow-y: visible;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.left {
    width: 20%;
    height: 100%;
    margin-top: 5rem;
}

.right {
    width: 40rem;
    margin-left: 10rem;
    overflow-y: visible;
}

.mantine {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}