@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900');

:root {
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Noto Sans JP, sans-serif;
}

body { 
  margin: 0;
  font-family: Noto Sans JP, sans-serif;
}